.banner {
  background-color: rgb(121, 172, 121);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid green;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2rem;
}

img {
  max-width: 250px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    gap: 10px;
    font-size: 1rem;
  }
}
