.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.navbar a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .cabecalho {
    flex-direction: column;
  }
}
