.galeria-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.galeria {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  width: 100%;
  list-style: none;
}

.galeria h2 {
  color: green;
  text-align: center;
  padding: 20px;
}

@media (max-width: 500px) {
  .galeria {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 500px) and (max-width: 900px) {
  .galeria {
    grid-template-columns: repeat(2, 1fr);
  }
}
